@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.header {
  @apply flex items-center justify-between w-full fixed z-10 h-[5.4rem] p-[3.2rem] !bg-transparent;
}
.nav-link {
  @apply text-2xl font-semibold text-[#181b21] mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 transition-all duration-1000;
}
.card_section {
  @apply w-screen h-screen relative;
}
.car-img {
  @apply w-full h-full object-cover;
}
.car-description {
  @apply absolute top-[20%] left-[50%] text-center;
}
.car-description-header {
  @apply font-semibold mb-[2rem] sm:text-6xl lg:text-9xl;
}
.car-description-subtitle {
  @apply text-2xl text-gray-800;
}
.emphasize-text {
  @apply underline tracking-wider uppercase;
}
.buttons {
  @apply absolute top-[80%] left-[50%] flex flex-col lg:flex-row;
}
.button {
  @apply bg-white px-[10rem] py-4 rounded-[10rem] uppercase text-2xl opacity-50;
}
.white {
  @apply lg:mr-2;
}
.black {
  @apply bg-black text-white lg:ml-2;
}
.down-btn {
  @apply w-[5rem] absolute bottom-[20px] left-[50%] cursor-pointer animate-bounce;
}
/* Normal CSS */
.transform_50 {
  transform: translate(-50%, -50%);
}
